@page "/settings"

<IonHeader>
    <IonToolbar>
        <IonButtons slot="start">
            <IonBackButton DefaultHref="/"></IonBackButton>
        </IonButtons>
        <IonTitle>Settings</IonTitle>
    </IonToolbar>
</IonHeader>
<IonContent Fullscreen="true" class="ion-padding">
    <IonHeader Collapse="condense">
        <IonToolbar>
            <IonTitle Size="large">Settings</IonTitle>
        </IonToolbar>
    </IonHeader>

    <div style="height: 100svh;"></div>
</IonContent>