@page "/settings"

<IonHeader>
    <IonToolbar>
        <IonButtons slot="start">
            <IonBackButton DefaultHref="/"></IonBackButton>
        </IonButtons>
        <IonTitle>Settings</IonTitle>
    </IonToolbar>
</IonHeader>
<IonContent Fullscreen="true" class="ion-padding">
    <IonHeader Collapse="condense">
        <IonToolbar>
            <IonTitle Size="large">Settings</IonTitle>
        </IonToolbar>
    </IonHeader>

    <IonButton @onclick="() => IsOpen = true">Open Action Sheet</IonButton>
    <IonActionSheet IsOpen="IsOpen" OnDidDismiss="() => IsOpen = false" />

    <div style="height: 100svh;"></div>
</IonContent>

@code
{
    private bool IsOpen { get; set; }
}